.main {
  text-align: center;
  /* background: repeating-linear-gradient(#0000FC, #3cbcfc 200px, #3cbcfc 200px, #0000FC 250px); */
}

.boss_select {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 200px));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.boss_card {
  font-family: var(--headingFont);
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

.boss_card span{
  display: block;
}

.boss_image {
  border: 10px ridge var(--borderColor);
  width: 100%;
}